/.idea/
/_lLog/
/_vVideo/
/_tTmp/
/_qQr/
*.log
/venv
/_pPDF/
/_jJob/
/_rRemoteFiles/
/_dDB/kiosk.db
setting.ini
setting.ini.bak
_cCommand/__pycache__/
_cConfig/__pycache__/
_dDAO/__pycache__/
_dDB/__pycache__/
_dDevice/__pycache__/
_nNetwork/__pycache__/
_sService/__pycache__/
_sSync/__pycache__/
_tTools/__pycache__/

_qQML/config.js
_qQML/source/logo
_qQML/source/background
_qQML/source/card
